/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 60px;
	/*padding-top: 130px !important;*/
	padding-bottom: 5px;
}

span.logo_helper {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}


logo_container {
	position: absolute;
	width: 100%;
	height: 100%;
	transition:none;
}

#logo {
	display: inline-block;
	float: none;
	height: 70px !important;
	padding-top: 10px !important;
	margin-bottom: 0;
	vertical-align: middle !important;
	-webkit-transition: all .4s ease-in-out !important;
	-moz-transition: all .4s ease-in-out !important;
	transition: all .4s ease-in-out !important;
	-webkit-transform: translate3d(0,0,0) !important;
}

    text[fill="rgb(127, 82, 83)"]{  
      text-shadow: 1px 1px #DCE1E3;  
    }  

#bloc1, #bloc2, #bloc3, #bloc4, #bloc5, #bloc6, #bloc7, #bloc8, #bloc9, #bloc10
{
    display:inline;
}

h3 {
    padding: 5px !important;
    margin: 5px !important;
}

a:link[role="presentation"],a:visited[role="presentation"] {
    color: white;
    padding: 5px 5px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #004876 !important;
}

.navbar-inverse {
    background-color: #004876 !important;
    border-color: #004876 !important;
}

.navbar-brand {
    color: white !important;
}

    .navbar-brand:hover {
        color: #004876 !important;
        background: #eee !important;
    }

#mapDiv {  /*Set the responsive map size here*/ 
    min-height: 300px !important;
    max-height: 600px !important;
}

.esri-scale-bar__label {
	font-size: 11px !important;
	font-style: normal !important;
	color: #404040 !important;
}

.clsSectionDetailCFSTEMP_WARN {
    background-color: lightpink;
    color: red;
    padding: 10px;
}

.tab { margin-left: 30px; 
       margin-right: 30px;
       padding:5px;
}

.clsSectionDetailCFSTEMP {
    background-color: #004876;
    color: white;
    padding: 10px;
}

.clsSectionDetailCFSTEMP_Alt {
    background-color: white;
    color: black;
    padding: 10px;
}


.esri-basemap-gallery__item-container {
	width: 100% !important;
	display: flex !important;
	justify-content: end !important;
	flex-flow: wrap;
}

.esri-basemap-gallery__item-thumbnail {
	width: 40px !important;
	height: 40px !important;
}

.esri-basemap-gallery__item {
	width: 40px;
	margin: 5px;
	padding: 1px;
}

.esri-basemap-gallery__item-title {
	font-family: Arial !important;
	font-size: 10px;
	display:none;
}

.esri-legend__service { /*between GIS layers*/
	padding: 5px !important;
}

.esri-widget__heading esri-legend__service-label {
	font-weight: bold !important;
	padding-top: 15px !important;
}


.esri-legend__layer-row { /*the div with all the symbols*/
	float: left !important;
	white-space: nowrap !important;
	border: none !important;
	border-width: 0px 0 !important;
	padding-right: 10px;
}

/* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: Arial;
}

	.custom-select select {
		display: none; /*hide original SELECT element: */
	}

.select-selected {
	background-color: #004876;
}

	/* Style the arrow inside the select element: */
	.select-selected:after {
		position: absolute;
		content: "";
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
	}

	/* Point the arrow upwards when the select box is open (active): */
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 7px;
	}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: #31b0d5;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}


.esri-legend__layer-caption {
	display: none;
}


.liveExample {
	padding: 1em;
	background-color: #EEEEDD;
	border: 1px solid #CCC;
}

	.liveExample input {
		font-family: Arial;
	}

	.liveExample b {
		font-weight: bold;
	}

	.liveExample p {
		margin-top: 0.9em;
		margin-bottom: 0.9em;
	}

	.liveExample select[multiple] {
		width: 100%;
		height: 8em;
	}

	.liveExample h2 {
		margin-top: 0.4em;
	}

.ko-grid {
	margin-bottom: 1em;
	width: 100%;
	border: 1px solid silver;
	background-color: White;
}


/*.dropdown-menu,
.dropdown-menu ul {
	list-style: none !important;
	background-color: red !important;
	list-style-type: none !important;
}*/