/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 5px;
  padding-bottom: 5px;
}

    text[fill="rgb(127, 82, 83)"]{  
      text-shadow: 1px 1px #DCE1E3;  
    }  


#block_container
{
    text-align:center;
}
#bloc1, #bloc2, #bloc3, #bloc4, #bloc5, #bloc6, #bloc7, #bloc8, #bloc9, #bloc10
{
    display:inline;
}

